.expandSvg{
  svg{
    height: 10px;
    transition: all .2s;
  }

}

.expandSvg-reverse{
  svg{
    transform: rotate(180deg);
  }
}

.expand-info-btn{
  display: inline-block;
  cursor: pointer;
}


.collapsable-info-div{

  margin-top: 5px;
  margin-bottom: 5px;
  transition: all .2s;
}

.collapse{
  overflow: hidden;
  height: 0;
}


